@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @Html.Partial("_Title")
    @Html.Raw(ViewBag.CssFile)
</head>
<body class="fixed-top">
    @Html.Partial("_Top")
    <div id="container" class="row-fluid @ViewBag.MenuStatus">
        @Html.Partial("_LeftMenu")
        <div id="body">
            <div id="widget-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                    <h3>widget Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here will be a configuration form</p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        @Html.Raw(ViewBag.NavMenu)
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget box light-grey">
                            <div class="widget-title">
                                <h4><i class="icon-globe"></i>新增盘点单</h4>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                    <a href="#widget-config" data-toggle="modal" class="config"></a>
                                    <a href="javascript:;" class="reload"></a>
                                    <a href="javascript:;" class="remove"></a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="row-fluid" style="border: 1px solid #DDDDDD;">
                                    <div class="widget-body form">
                                        <form class="horizontal-form">
                                            <div class="row-fluid">
                                                <div class="span3">
                                                    <div class="control-group">
                                                        <label class="control-label" for="txtOrderNum">盘点单号</label>
                                                        <div class="controls">
                                                            <input type="text" id="txtOrderNum" name="txtOrderNum" class="span12" placeholder="可不填,自动生成" disabled="disabled" value="@ViewBag.Entity.OrderNum" />
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span3">
                                                    <div class="control-group">
                                                        <label class="control-label" for="ddlInType">盘点类型</label>
                                                        <div class="controls">
                                                            <select id="ddlInType" name="ddlInType" class="span12">
                                                                @Html.Raw(ViewBag.CheckType)
                                                            </select>
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span3">
                                                    <div class="control-group">
                                                        <label class="control-label" for="ddlProductType">货品类型</label>
                                                        <div class="controls">
                                                            <select id="ddlProductType" name="ddlProductType" class="span12" disabled="disabled">
                                                                @Html.Raw(ViewBag.ProductType)
                                                            </select>
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span3">
                                                    <div class="control-group">
                                                        <!--control-group error-->
                                                        <label class="control-label" for="txtContractOrder">关联订单号</label>
                                                        <div class="controls">
                                                            <input type="text" id="txtContractOrder" name="txtContractOrder" class="span12" placeholder="" value="@ViewBag.Entity.ContractOrder" />
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row-fluid">
                                                <div class="span3">
                                                    <div class="control-group">
                                                        <label class="control-label" for="txtCrateUser">制单人</label>
                                                        <div class="controls">
                                                            <input type="text" id="txtCrateUser" name="txtCrateUser" class="span12" placeholder="" value="@ViewBag.Entity.CreateUserName" />
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span3">
                                                    <div class="control-group">
                                                        <label class="control-label" for="txtOrderTime">制单时间</label>
                                                        <div class="controls">
                                                            <input type="text" id="txtOrderTime" name="txtOrderTime" class="span12" placeholder="" onfocus="WdatePicker()" value="@ViewBag.Entity.CreateTime"/>
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="txtRemark">备注</label>
                                                        <div class="controls">
                                                            <input type="text" id="txtRemark" name="txtRemark" class="span12" placeholder="" value="@ViewBag.Entity.Remark"/>
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <br />
                                <table class="table table-striped table-bordered table-hover" id="tabInfo">
                                    <thead>
                                        <tr class="widget-title">
                                            <th class="hidden-480">产品编号</th>
                                            <th class="hidden-480">产品名称</th>
                                            <th class="hidden-480">产品条码</th>
                                            <th class="hidden-480">规格</th>
                                            <th class="hidden-480">类别</th>
                                            <th class="hidden-480">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="row-fluid" id="mypager">
                                </div>

                                <div class="form-actions formBtn">
                                    <button type="submit" class="btn btn-primary" onclick="CheckOrder.ShowDialog('edit')"><i class="icon-plus"></i>盘点目标</button>
                                    <button type="submit" class="btn btn-primary" onclick="CheckOrder.Edit()"><i class="icon-ok"></i>编辑</button>
                                    <button type="button" class="btn" onclick="CheckOrder.Cancel()">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Foot")
    <script type="text/ecmascript">
        $(document).ready(function () {
            CheckOrder.LoadEditDetail(1, 10);
        });
    </script>
</body>

</html>
