@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @Html.Partial("_Title")
    @Html.Raw(ViewBag.CssFile)
</head>
<body class="dialog">
    <div class="tab-pane active" id="widget_tab1">
        <table class="dialogtab inorder_tab">
            <tr class="inorder_tr">
                <td class="inorder_tdTitle inorder_topline"><strong>订单编号</strong></td>
                <td class="inorder_tdContent inorder_topline">@ViewBag.Orders.OrderNum
                </td>
                <td class="inorder_tdTitle inorder_topline"><strong>订单类型</strong></td>
                <td class="inorder_tdContent inorder_topline">@ViewBag.Orders.OrderTypeLable
                </td>
                <td class="inorder_tdTitle inorder_topline"><strong>状态</strong></td>
                <td class="inorder_tdContent inorder_topline">@ViewBag.Orders.StatusLable
                </td>
            </tr>

            <tr class="inorder_tr">
                <td class="inorder_tdTitle"><strong>客户编号</strong></td>
                <td class="inorder_tdContent">@ViewBag.Orders.CusNum
                </td>
                <td class="inorder_tdTitle"><strong>客户名称</strong></td>
                <td class="inorder_tdContent">@ViewBag.Orders.CusName
                </td>
                <td class="inorder_tdTitle"><strong>联系人</strong></td>
                <td class="inorder_tdContent">@ViewBag.Orders.Contact
                </td>
            </tr>
            <tr class="inorder_tr">
                <td class="inorder_tdTitle"><strong>关联订单号</strong></td>
                <td class="inorder_tdContent">@ViewBag.Orders.ContractOrder
                </td>
                <td class="inorder_tdTitle"><strong>创建人</strong></td>
                <td class="inorder_tdContent">@ViewBag.Orders.CreateUser
                </td>
                <td class="inorder_tdTitle"><strong>创建时间</strong></td>
                <td class="inorder_tdContent">@ViewBag.Orders.OrderTime
                </td>
            </tr>
            <tr class="inorder_tr">
                <td class="inorder_tdTitle"><strong>电话</strong></td>
                <td class="inorder_tdContent">@ViewBag.Orders.Phone
                </td>
                <td class="inorder_tdTitle"><strong>备注</strong></td>
                <td colspan="3" class="inorder_tdContent">@ViewBag.Orders.Remark
                </td>
            </tr>
            <tr class="inorder_tr">
                <td class="inorder_tdTitle"><strong>审核备注</strong></td>
                <td class="inorder_tdContent" colspan="5">
                    @if (ViewBag.Flag == "1")
                    { 
                        @ViewBag.Orders.Reason
                    }
                    else 
                    {
                        <textarea id="txtReason"></textarea>
                    }
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered table-hover inorder_detail" id="tabInfo">
            <thead>
                <tr class="widget-title">
                    <th class="hidden-480">产品名称</th>
                    <th class="hidden-480">产品条码</th>
                    <th class="hidden-480">订单数量</th>
                    <th class="hidden-480">已发数量</th>
                    <th class="hidden-480">备注</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Git.Storage.Entity.Order.OrderDetailEntity entity in ViewBag.Detail)
                { 
                    <tr>
                        <td>@entity.ProductName</td>
                        <td>@entity.BarCode</td>
                        <td>@entity.Num</td>
                        <td>@entity.RealNum</td>
                        @*<td>@entity.Price</td>
                        <td>@entity.Amount</td>*@
                        <td>@entity.Remark</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
